Repository AR10Dev/ar10dev.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, format, cspell

eslint:
  run: pnpm eslint {staged_files}

format:
  run: pnpm prettier --plugin-search-dir=. {staged_files} --write

cspell:
  run: pnpm cspell "**/*{md}"

Add .astro to ESLint
  lefthook.yml
Due: format

Update README.md
  README.md
Due: cspell

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Update Type.astro
  src/components/Type.astro
Due: format

Fix @solid-components/Typer import
  src/components/Type.astro
Due: format

Add few improvements 🚀 (#118)
  .eslintrc.js
  .github/workflows/ci.yml
  .github/workflows/next.yml
  .vscode/settings.json
  README.md
  cspell.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  project-words.txt
  src/components/Header.astro
  src/components/Type.astro
  src/components/Type.tsx
  src/components/solid/Navbar.tsx
  src/components/solid/Typer.tsx
  src/components/solid/types.ts
  src/pages/index.astro
  tsconfig.json
Due: eslint, format, cspell

Switch from TailwindCSS to UnoCSS
  .eslintrc.js
  astro.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/pages/index.astro
  src/plugins/tailwindcss/scrollbar.js
  src/styles/global.css
  tailwind.config.js
Due: eslint, format

Fix navbar and CSpell config
  .prettierrc.json
  cspell.json
  lefthook.yml
  project-words.txt
  src/components/Header.astro
  src/components/solid/Navbar.tsx
  src/components/solid/Typer.tsx
  src/env.d.ts
  tsconfig.json
Due: eslint, format

Add markdown components
  .vscode/settings.json
  src/components/About.astro
  src/components/markdown/AboutMe.mdx
Due: format

Fix autoprefixer
  postcss.config.js
Due: eslint, format

Switch to UnoCSS, little fixes and markdown component experiments (#119)
  .eslintrc.js
  .prettierrc.json
  .vscode/settings.json
  astro.config.ts
  cspell.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  postcss.config.js
  project-words.txt
  src/components/About.astro
  src/components/Header.astro
  src/components/markdown/AboutMe.mdx
  src/components/solid/Navbar.tsx
  src/components/solid/Typer.tsx
  src/env.d.ts
  src/pages/index.astro
  src/plugins/tailwindcss/scrollbar.js
  src/styles/global.css
  tailwind.config.js
  tsconfig.json
Due: eslint, format

Update AboutMe.mdx
  src/components/markdown/AboutMe.mdx
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: format

Fix CI workflow failure
  .github/workflows/ci.yml
  .npmrc
  pnpm-lock.yaml
Due: format

👀 Few improvements
  .gitpod.yml
  .npmrc
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, format

✨ Happy New Year
  src/components/Footer.astro
Due: format

Update Renovate bot configuration
  .github/renovate.json
  README.md
  pnpm-lock.yaml
Due: format, cspell

Remove Gitpod
  .gitpod.Dockerfile
  .gitpod.yml
Due: format

Delete .vscode directory
  .vscode/setting.json
  .vscode/settings.json
Due: format

👀 Few improvements & cleanup (#133)
  .github/renovate.json
  .gitpod.Dockerfile
  .gitpod.yml
  .vscode/setting.json
  .vscode/settings.json
  README.md
  pnpm-lock.yaml
Due: format, cspell

Move from Astro to SolidStart
  .eslintrc.js
  .github/workflows/pages-build-deployment.yml
  .gitignore
  .prettierrc.json
  astro.config.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
  postcss.config.js
  project-words.txt
  public/manifest.json
  src/components/About.astro
  src/components/About.tsx
  src/components/Footer.astro
  src/components/Footer.tsx
  src/components/Header.astro
  src/components/Navbar.tsx
  src/components/Type.astro
  src/components/Typer.tsx
  src/components/markdown/AboutMe.mdx
  src/components/types.ts
  src/entry-client.tsx
  src/entry-server.tsx
  src/env.d.ts
  src/pages/index.astro
  src/pwa/main.mjs
  src/root.tsx
  src/routes/[...404].tsx
  src/routes/index.tsx
  tsconfig.json
  vite.config.ts
Due: eslint, format

Add RGB Logo and new cursor
  package.json
  pnpm-lock.yaml
  public/logo.svg
  src/components/About.tsx
  src/components/Cursor.tsx
  src/components/Logo.css
  src/components/Logo.tsx
  src/routes/index.tsx
Due: eslint, format

Update dependencies
  package.json
  pnpm-lock.yaml
Due: format

Few cleanup
  .eslintrc.cjs
  lefthook.yml
  package.json
  src/components/Cursor.tsx
  src/components/Logo.css
  src/components/Skill.tsx
  src/components/Typer.tsx
  src/root.tsx
  src/routes/index.tsx
  vite.config.ts
Due: eslint, format

Update ESLint config
  .eslintrc.cjs
  eslint.config.js
Due: eslint, format

Format
  eslint.config.js
Due: eslint, format

Update renovate.json
  .github/renovate.json
Due: format

Update package.json
  package.json
Due: format

✨ Add mcp.json configuration
  .gitignore
  .vscode/mcp.json
Due: format

🚀 chore: update GitHub Actions workflow for improved deployment process
  .github/workflows/pages-build-deployment.yml
Due: format

✨ Refactor services and contact sections for improved structure and readability
  src/pages/index.astro
Due: format

🚀 chore: update CI workflow to simplify dependency installation and enhance build process
  .github/workflows/ci.yml
Due: format

✨ Refactor styles and animations across components for improved consistency and performance
  src/components/Contact.astro
  src/components/Footer.astro
  src/components/Portfolio.astro
  src/components/solid/Navbar.tsx
  src/layouts/Layout.astro
  src/lib/observe.ts
  src/scripts/homepage.ts
  src/styles/global.css
Due: eslint, format

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,yml,astro}
  cspell: any of: *.md
