Repository AR10Dev/ar10dev.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, format, cspell

eslint:
  run: pnpm eslint {staged_files}

format:
  run: pnpm prettier --plugin-search-dir=. {staged_files} --write

cspell:
  run: pnpm cspell "**/*.{md,mdx}"

✨ Refactor Contact and Portfolio components for improved structure and readability; enhance constants for better styling management
  src/components/Contact.astro
  src/components/Portfolio.astro
  src/lib/constants.ts
  src/lib/observe.ts
  src/pages/index.astro
  src/styles/global.css
Due: eslint, format

✨ Add blog collection and individual blog post pages; enhance typography and layout across components for improved readability and user experience
  src/components/solid/Navbar.tsx
  src/content.config.ts
  src/content/portfolio/content-marketing-strategy.json
  src/content/portfolio/paid-social-campaigns.json
  src/content/portfolio/social-media-management.json
  src/content/site/homepage.json
  src/layouts/Layout.astro
  src/lib/constants.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/styles/global.css
Due: eslint, format

✨ Update contact email in homepage.json for improved communication
  src/content/site/homepage.json
Due: format

✨ Add devcontainer configuration for improved development environment setup
  .devcontainer/devcontainer.json
Due: format

✨ Update devcontainer configuration with specific Node.js version and enhanced post-create command
  .devcontainer/devcontainer.json
Due: format

✨ Refactor code for improved readability and maintainability; update constants and styles across components; add placeholder for blog collection
  .devcontainer/devcontainer.json
  src/components/Contact.astro
  src/components/Portfolio.astro
  src/content.config.ts
  src/content/blog/.gitkeep
  src/content/blog/placeholder.md
  src/content/portfolio/content-marketing-strategy.json
  src/content/portfolio/paid-social-campaigns.json
  src/content/portfolio/social-media-management.json
  src/lib/constants.ts
  src/lib/observe.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/scripts/homepage.ts
  src/styles/global.css
Due: eslint, format, cspell

✨ Add remote environment variables for Bun installation in devcontainer configuration
  .devcontainer/devcontainer.json
Due: format

feat: add portfolio and services pages with structured data and SEO enhancements
  public/llms.txt
  src/components/Breadcrumb.astro
  src/components/FooterNav.astro
  src/components/HeaderNav.astro
  src/components/solid/Navigation.tsx
  src/content.config.ts
  src/content/services/ai-automation.json
  src/content/services/seo-growth.json
  src/content/services/web-development.json
  src/layouts/BaseLayout.astro
  src/pages/about/index.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/contact/index.astro
  src/pages/index.astro
  src/pages/portfolio/[slug].astro
  src/pages/portfolio/index.astro
  src/pages/services/[slug].astro
  src/pages/services/index.astro
Due: eslint, format

✨ Update site URL in configuration; enhance llms.txt with detailed services and expertise; add robots.txt for SEO optimization; modify BaseLayout to support dynamic keywords.
  astro.config.ts
  public/llms.txt
  public/robots.txt
  src/layouts/BaseLayout.astro
Due: eslint, format

feat: enhance SEO and AI indexing with advanced sitemap configuration
  astro.config.ts
  bun.lock
  package.json
  public/llms.txt
  public/og-ai-growth-engineer.svg
  public/robots.txt
  src/components/Breadcrumb.astro
  src/layouts/BaseLayout.astro
  src/layouts/Layout.astro
  src/pages/about/index.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/blog/rss.xml.ts
  src/pages/contact/index.astro
  src/pages/index.astro
  src/pages/portfolio/[slug].astro
  src/pages/portfolio/index.astro
  src/pages/services/[slug].astro
  src/pages/services/index.astro
  validate-seo.js
Due: eslint, format

fix: resolve biome linting and astro check errors
  src/pages/blog/rss.xml.ts
  validate-seo.js
Due: eslint, format

🚀 feat: integrate Google Analytics with Partytown for improved performance
  astro.config.ts
  bun.lock
  package.json
  src/components/GoogleAnalytics.astro
  src/layouts/Layout.astro
Due: eslint, format

✨ feat: add Google Analytics component for enhanced tracking and performance
  src/layouts/BaseLayout.astro
Due: none

✨ feat: implement analytics consent banner and tracking functionality
  src/components/AnalyticsConsent.astro
  src/components/Footer.astro
  src/components/FooterNav.astro
  src/components/GoogleAnalytics.astro
  src/components/HeaderNav.astro
  src/components/solid/Navigation.tsx
  src/env.d.ts
  src/layouts/BaseLayout.astro
  src/layouts/Layout.astro
  src/lib/analytics.ts
  src/lib/observe.ts
  src/pages/portfolio/index.astro
  src/pages/services/index.astro
  src/scripts/homepage.ts
Due: eslint, format

fix: ensure Google Analytics components load correctly based on environment variables
  src/layouts/BaseLayout.astro
  src/layouts/Layout.astro
Due: none

✨ feat: enhance site configuration with trailing slashes, add CNAME and security headers, and improve metadata for SEO
  astro.config.ts
  public/CNAME
  public/_headers
  src/layouts/BaseLayout.astro
  src/layouts/Layout.astro
Due: eslint, format

✨ feat: enhance portfolio content with detailed descriptions, challenges, solutions, and improved homepage and service pages for better SEO and user engagement
  src/content.config.ts
  src/content/portfolio/ai-workflow-automation.json
  src/content/portfolio/content-marketing-strategy.json
  src/content/portfolio/fullstack-analytics-saas.json
  src/content/portfolio/marketing-funnel-optimization.json
  src/content/portfolio/paid-social-campaigns.json
  src/content/portfolio/social-media-management.json
  src/content/site/homepage.json
  src/pages/about/index.astro
  src/pages/blog/index.astro
  src/pages/contact/index.astro
  src/pages/index.astro
  src/pages/portfolio/[slug].astro
  src/pages/portfolio/index.astro
  src/pages/services/index.astro
Due: eslint, format

Enhance blog, portfolio, and service pages with related content and structured data
  public/og-about.png
  public/og-ai-growth-engineer.png
  public/og-blog.png
  public/og-contact.png
  public/og-portfolio.png
  public/og-service-ai.png
  public/og-service-seo.png
  public/og-service-web.png
  public/og-services.png
  src/components/Breadcrumb.astro
  src/content.config.ts
  src/content/blog/building-custom-chatgpt-interfaces-for-business.md
  src/content/blog/building-mvp-4-weeks-technical-guide.md
  src/content/blog/complete-technical-seo-audit-checklist-2025.md
  src/content/blog/how-to-automate-lead-qualification-with-ai.md
  src/content/site/homepage.json
  src/layouts/BaseLayout.astro
  src/pages/about/index.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/contact/index.astro
  src/pages/index.astro
  src/pages/portfolio/[slug].astro
  src/pages/portfolio/index.astro
  src/pages/services/[slug].astro
  src/pages/services/index.astro
Due: eslint, format, cspell

✨ fix: lint error
  src/pages/blog/[...slug].astro
Due: none

✨ feat: enhance structured data and SEO metadata across blog and index pages
  src/layouts/BaseLayout.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
Due: none

Add MCP Integration and Technical SEO Service Pages
  src/components/HeaderNav.astro
  src/components/solid/Navigation.tsx
  src/layouts/ServiceLayout.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/services/ai-automation.astro
  src/pages/services/fullstack-development.astro
  src/pages/services/mcp-integration.astro
  src/pages/services/technical-seo.astro
Due: eslint, format

Add SEO Growth and Technical SEO Audit service pages with detailed descriptions, FAQs, and structured layouts
  src/pages/services/ai-chatbot-development.astro
  src/pages/services/ai-workflow-automation.astro
  src/pages/services/astro-development.astro
  src/pages/services/conversion-optimization.astro
  src/pages/services/index.astro
  src/pages/services/llm-integration.astro
  src/pages/services/mobile-app-development.astro
  src/pages/services/programmatic-seo.astro
  src/pages/services/saas-mvp-development.astro
  src/pages/services/seo-growth.astro
  src/pages/services/technical-seo-audit.astro
Due: none

✨ feat: Update service pages, revise MCP integration title, add prompt engineering and social media growth services
  public/robots.txt
  src/components/GoogleAnalytics.astro
  src/content/services/ai-agent-development.json
  src/content/services/ai-automation.json
  src/content/services/ai-chatbot-development.json
  src/content/services/ai-workflow-automation.json
  src/content/services/astro-development.json
  src/content/services/conversion-optimization.json
  src/content/services/llm-integration.json
  src/content/services/mobile-app-development.json
  src/content/services/programmatic-seo.json
  src/content/services/prompt-engineering.json
  src/content/services/saas-mvp-development.json
  src/content/services/seo-growth.json
  src/content/services/social-media-growth.json
  src/content/services/technical-seo-audit.json
  src/content/services/web-development.json
  src/layouts/BaseLayout.astro
  src/layouts/ServiceLayout.astro
  src/pages/about/index.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/contact/index.astro
  src/pages/index.astro
  src/pages/portfolio/[slug].astro
  src/pages/portfolio/index.astro
  src/pages/services/[slug].astro
  src/pages/services/ai-agent-development.astro
  src/pages/services/fullstack-development.astro
  src/pages/services/index.astro
  src/pages/services/mcp-integration.astro
  src/pages/services/prompt-engineering.astro
  src/pages/services/social-media-growth.astro
Due: format

✨ feat: Add context7, sequential-thinking, and memory servers to MCP configuration
  .vscode/mcp.json
Due: format

✨ Refactor service pages: update AI agent development title and description, remove fullstack development page, add full-stack web development service, and enhance prompt engineering description.
  public/llms.txt
  src/components/FooterNav.astro
  src/components/HeaderNav.astro
  src/content/blog/why-astro-best-framework-marketing-sites.md
  src/content/services/full-stack-web-development.json
  src/content/services/mobile-app-development.json
  src/content/services/saas-mvp-development.json
  src/layouts/ServiceLayout.astro
  src/pages/blog/[...slug].astro
  src/pages/contact/index.astro
  src/pages/index.astro
  src/pages/portfolio/[slug].astro
  src/pages/services/[slug].astro
  src/pages/services/ai-agent-development.astro
  src/pages/services/full-stack-web-development.astro
  src/pages/services/index.astro
  src/pages/services/prompt-engineering.astro
Due: format, cspell

✨ feat: Update site configuration, add security headers, implement redirects, enhance portfolio descriptions, and improve service pages for better SEO and user experience.
  astro.config.ts
  public/_headers
  public/_redirects
  public/robots.txt
  src/content/portfolio/ai-workflow-automation.json
  src/content/portfolio/social-media-management.json
  src/layouts/BaseLayout.astro
  src/layouts/Layout.astro
  src/layouts/ServiceLayout.astro
  src/pages/index.astro
  src/pages/portfolio/[slug].astro
  src/pages/services/index.astro
  src/pages/services/mobile-app-development.astro
  tsconfig.json
Due: eslint, format

Refactor services and layouts: Update related services, add blog post links, and enhance styles
  astro.config.ts
  bun.lock
  package.json
  run-lint-format.js
  setup-assets.js
  src/content/blog/how-to-automate-lead-qualification-with-ai.mdx
  src/content/blog/why-astro-best-framework-marketing-sites.md
  src/content/services/full-stack-web-development.json
  src/content/services/mobile-app-development.json
  src/content/services/saas-mvp-development.json
  src/layouts/BaseLayout.astro
  src/layouts/ServiceLayout.astro
  src/pages/services/[slug].astro
  src/styles/mermaid.css
  validate-seo.js
Due: eslint, format, cspell

feat: Add comprehensive technical SEO audit checklist for 2025
  astro.config.ts
  src/content/blog/ab-testing-best-practices-improve-conversions.mdx
  src/content/blog/building-custom-chatgpt-interfaces-for-business.mdx
  src/content/blog/building-mvp-4-weeks-technical-guide.mdx
  src/content/blog/complete-technical-seo-audit-checklist-2025.mdx
  src/content/blog/how-programmatic-seo-generates-10x-traffic.mdx
  src/content/blog/openai-vs-anthropic-which-llm-for-business.mdx
  src/content/blog/why-astro-best-framework-marketing-sites.mdx
  src/layouts/BaseLayout.astro
  src/layouts/ServiceLayout.astro
  src/lib/rehypeCopyCodeButton.ts
  src/scripts/code-copy.ts
  src/styles/global.css
Due: eslint, format, cspell

feat: integrate D2 diagram support and update styles
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/pages-build-deployment.yml
  .vscode/mcp.json
  README.md
  astro.config.ts
  biome.json
  bun.lock
  package.json
  src/content/blog/ab-testing-best-practices-improve-conversions.mdx
  src/content/blog/building-custom-chatgpt-interfaces-for-business.mdx
  src/content/blog/how-programmatic-seo-generates-10x-traffic.mdx
  src/content/blog/how-to-automate-lead-qualification-with-ai.mdx
  src/layouts/BaseLayout.astro
  src/styles/diagrams.css
  src/styles/mermaid.css
  src/types/rehype-d2.d.ts
Due: eslint, format, cspell

fix(ci): install D2 CLI before withastro/action, fix bun cache for rehype-d2
  .github/workflows/ci.yml
Due: format

fix: remove rehype-d2 dependency from package.json and bun.lock
  bun.lock
  package.json
Due: format

chore: update dependencies and types for rehype-d2
  .github/workflows/ci.yml
  astro.config.ts
  bun.lock
  package.json
  src/types/rehype-d2.d.ts
Due: eslint, format

feat: add favicon.svg and enhance blog post architecture visuals with figures and captions
  public/favicon.svg
  src/content/blog/building-custom-chatgpt-interfaces-for-business.mdx
  src/content/blog/how-programmatic-seo-generates-10x-traffic.mdx
  src/content/blog/how-to-automate-lead-qualification-with-ai.mdx
  src/pages/index.astro
Due: cspell

Update client testimonials across service pages to reflect recent feedback and experiences
  src/pages/services/ai-agent-development.astro
  src/pages/services/ai-automation.astro
  src/pages/services/ai-chatbot-development.astro
  src/pages/services/ai-workflow-automation.astro
  src/pages/services/conversion-optimization.astro
  src/pages/services/full-stack-web-development.astro
  src/pages/services/llm-integration.astro
  src/pages/services/mcp-integration.astro
  src/pages/services/programmatic-seo.astro
  src/pages/services/prompt-engineering.astro
  src/pages/services/saas-mvp-development.astro
  src/pages/services/seo-growth.astro
  src/pages/services/social-media-growth.astro
  src/pages/services/technical-seo-audit.astro
  src/pages/services/technical-seo.astro
Due: none

feat: add publishedTime and modifiedTime metadata to service pages for improved SEO
  src/components/HeadSEO.astro
  src/layouts/BaseLayout.astro
  src/layouts/ServiceLayout.astro
  src/pages/services/ai-agent-development.astro
  src/pages/services/ai-automation.astro
  src/pages/services/ai-chatbot-development.astro
  src/pages/services/ai-workflow-automation.astro
  src/pages/services/conversion-optimization.astro
  src/pages/services/full-stack-web-development.astro
  src/pages/services/index.astro
  src/pages/services/llm-integration.astro
  src/pages/services/mcp-integration.astro
  src/pages/services/mobile-app-development.astro
  src/pages/services/programmatic-seo.astro
  src/pages/services/prompt-engineering.astro
  src/pages/services/saas-mvp-development.astro
  src/pages/services/seo-growth.astro
  src/pages/services/social-media-growth.astro
  src/pages/services/technical-seo-audit.astro
  src/pages/services/technical-seo.astro
Due: none

fix: update theme color meta tags for improved accessibility and visual consistency
  src/components/HeadSEO.astro
Due: none

feat: add structured data schema for blog posts to enhance SEO and rich snippets
  src/pages/blog/[...slug].astro
Due: none

fix: update LinkedIn profile links across multiple pages for consistency
  public/llms.txt
  src/pages/about/index.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/contact/index.astro
  src/pages/portfolio/index.astro
  src/pages/services/index.astro
Due: none

feat: add BreadcrumbList structured data to enhance SEO and navigation
  src/layouts/ServiceLayout.astro
Due: none

feat: enhance Open Graph and Twitter metadata for improved sharing and SEO
  astro.config.ts
  src/components/HeadSEO.astro
  src/layouts/BaseLayout.astro
Due: eslint, format

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,yml}
  cspell: any of: *.{md,mdx}
