Repository AR10Dev/ar10dev.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, format, cspell

eslint:
  run: pnpm eslint {staged_files}

format:
  run: pnpm prettier --plugin-search-dir=. {staged_files} --write

cspell:
  run: pnpm cspell "**/*.{md,mdx}"

feat: add FAQ structured data to enhance SEO and user engagement
  public/robots.txt
  src/pages/index.astro
Due: none

feat: update robots.txt to manage additional web crawlers and bots
  public/robots.txt
Due: none

feat: enhance structured data with BreadcrumbList and Service schema for improved SEO
  public/_redirects
  src/layouts/ServiceLayout.astro
Due: none

feat: update Open Graph and Twitter metadata for consistency and improved SEO
  src/components/HeadSEO.astro
Due: none

feat: add Open Graph image mapping for services to enhance SEO and sharing
  src/layouts/ServiceLayout.astro
Due: none

feat: add article metadata for improved SEO and structured data compliance
  src/layouts/BaseLayout.astro
  src/pages/blog/[...slug].astro
Due: none

feat: add reading time and article section metadata for improved SEO
  src/components/HeadSEO.astro
  src/layouts/BaseLayout.astro
  src/pages/about/index.astro
  src/pages/blog/[...slug].astro
Due: none

feat: update structured data to include additional social profile link for improved SEO
  astro.config.ts
  public/robots.txt
  src/components/FooterNav.astro
  src/components/HeadSEO.astro
  src/env.d.ts
  src/layouts/BaseLayout.astro
  src/layouts/ServiceLayout.astro
  src/pages/about/index.astro
  src/pages/blog/index.astro
  src/pages/contact/index.astro
  src/pages/index.astro
  src/pages/services/index.astro
  src/pages/services/mcp-integration.astro
Due: eslint, format

feat: update font loading strategy for improved performance and consistency
  src/components/HeadSEO.astro
Due: none

feat: update structured data URL for SEO service to reflect correct path
  src/pages/index.astro
Due: none

feat: enhance structured data for portfolio items with operating system and URL metadata
  src/pages/index.astro
Due: none

feat: add operating system metadata to portfolio items for enhanced structured data
  src/pages/portfolio/index.astro
Due: none

feat: add operating system and URL metadata to portfolio items for improved structured data
  src/pages/portfolio/index.astro
Due: none

chore: add copilot instructions for AI-assisted development
  .github/copilot-instructions.md
Due: cspell

feat: add agent commands for linting, checking, building, and spellchecking in package.json and copilot instructions
  .github/copilot-instructions.md
  package.json
Due: format, cspell

feat: integrate CalEmbed component and update booking buttons across layouts and pages
  package.json
  src/components/CalEmbed.astro
  src/layouts/BaseLayout.astro
  src/layouts/ServiceLayout.astro
  src/pages/index.astro
  src/pages/services/mcp-integration.astro
  src/styles/global.css
Due: format

feat: update LinkedIn links, enhance social media presence, and improve layout accessibility across components
  astro.config.ts
  public/_headers
  public/llms.txt
  src/components/CalEmbed.astro
  src/components/FooterNav.astro
  src/components/HeadSEO.astro
  src/components/SocialLinks.astro
  src/components/solid/Navigation.tsx
  src/env.d.ts
  src/layouts/BaseLayout.astro
  src/lib/constants.ts
  src/pages/about/index.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/contact/index.astro
  src/pages/index.astro
  src/pages/portfolio/index.astro
  src/pages/services/index.astro
Due: eslint, format

fix: update package versions for improved stability and compatibility
  bun.lock
  package.json
Due: format

feat: Implement SEO and structured data enhancements across the site
  AGENTS.md
  README.md
  astro.config.ts
  src/components/Breadcrumb.astro
  src/components/HeadSEO.astro
  src/components/ui/CallToActionBanner.astro
  src/components/ui/RelatedArticlesGrid.astro
  src/components/ui/RelatedProjectsGrid.astro
  src/components/ui/RelatedServiceCard.astro
  src/content/blog/complete-technical-seo-audit-checklist.mdx
  src/content/services/technical-seo-audit.json
  src/layouts/BaseLayout.astro
  src/layouts/ServiceLayout.astro
  src/lib/canonicalUrl.ts
  src/lib/schema.ts
  src/lib/seo.ts
  src/lib/siteMeta.ts
  src/lib/sitemapDates.ts
  src/pages/about/index.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/blog/rss.xml.ts
  src/pages/contact/index.astro
  src/pages/index.astro
  src/pages/portfolio/[slug].astro
  src/pages/portfolio/index.astro
  src/pages/services/index.astro
  src/pages/services/mcp-integration.astro
Due: eslint, format, cspell

chore: update dependencies in package.json
  bun.lock
  package.json
Due: format

feat: add Cloudflare deployment scripts and update dependencies
  .github/workflows/pages-build-deployment.yml
  README.md
  astro.config.ts
  bun.lock
  package.json
  public/CNAME
  public/_headers
  src/lib/seo.ts
  src/pages/about/index.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/rss.xml.ts
  src/pages/contact/index.astro
  src/pages/portfolio/[slug].astro
  tsconfig.json
  wrangler.jsonc
Due: eslint, format, cspell

feat: add logging configuration to wrangler.jsonc for enhanced debugging
  wrangler.jsonc
Due: none

feat: restructure logging configuration under observability in wrangler.jsonc
  wrangler.jsonc
Due: none

feat: enhance observability configuration in wrangler.jsonc with additional logging and tracing options
  wrangler.jsonc
Due: none

feat: update configuration files for Cloudflare integration and schema versioning
  astro.config.ts
  biome.json
  package.json
  tsconfig.json
  wrangler.jsonc
Due: eslint, format

feat: enhance blog post SEO with dynamic title suffixes and improve layout
  .gitignore
  src/pages/blog/[...slug].astro
Due: none

feat: update logo asset with new design
  src/assets/logo.png
Due: none

feat: enhance PWA support with manifest and service worker registration, update logo path, and improve iframe accessibility
  astro.config.ts
  package.json
  public/logo.png
  src/components/CalEmbed.astro
  src/components/HeadSEO.astro
  src/components/HeaderNav.astro
  src/layouts/BaseLayout.astro
  src/layouts/ServiceLayout.astro
  src/scripts/themeInit.ts
Due: eslint, format

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,yml}
  cspell: any of: *.{md,mdx}
